<div class="form-group row">
	<div class="col-sm-12">
		<h5><i>contracts-new-customer.html</i></h5>
	</div>	
</div>	
<div class="form-group row">
	<div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Account" ng-model="contractsNewCustomerVm.searchInput">
	    <button type="button" class="btn btn-default" ng-click="contractsNewCustomerVm.submit()">Submit</button>
	    <div ui-grid="contractsNewCustomerVm.gridOptions" ui-grid-selection class="myGrid"></div> 
	    <pager total-items="contractsNewCustomerVm.totalItems" ng-model="contractsNewCustomerVm.currentPage"></pager> 
	</div>	
</div>	
<div class="form-group row">
	<div class="col-sm-4 col-sm-offset-4">
	    <a ui-sref="contracts.new.billingaccount" class="btn btn-block btn-info" ng-disabled="!contractsNewCustomerVm.customerSelected">Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</div>
</div>