<div class="row">
	<div class="col-sm-3">
		<form class="form-horizontal" name="contractForm" ng-submit="contractForm.$valid && $state.go('users.list', {id: usersVm.id})">
			<div class="form-group">
				<h5><i>users.html</i></h5>
			</div>
		    <div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-btn">
		    			<button type="button" class="btn btn-default" 
		    				popover="Find a contract by customer number!" 
		    				popover-trigger="mouseenter" ng-click="usersVm.openCustomerContractsModal()">Find
		    			</button> 
		    		</span>
			        <input type="text" class="form-control" placeholder="Contract" ng-minlength="8" ng-maxlength="8" ng-model="usersVm.id">
			        <span class="input-group-btn">
			        	<a class="btn btn-default" role="button" ng-disabled="contractForm.$invalid" ui-sref="users.list({id: usersVm.id})">List</a>
			        </span>
			    </div>    
		    </div>
		    <div class="form-group">
				<div class="list-group">
					<a ng-repeat="contract in usersVm.contractsService.lists()" ui-sref-active="active" class="list-group-item" ui-sref="users.list({id: contract.id})" ng-click="usersVm.id = contract.id">{{contract.id}} - {{contract.getName()}}</a>
				</div>			    
		    </div>
		</form>  
		<h5><i>UI route users.list view injection</i></h5>
		<div ui-view></div>		
	</div>
	<div class="col-sm-9">
		<h5><i>UI route users.detail view injection</i></h5>
		<div ui-view="detail"></div>
	</div>
</div>
