<div class="row">
	<div class="col-sm-12">
		<h5><i>serviceaccounts-accounts.html</i></h5>
	</div>	
</div>
<div class="row">
	<div class="col-sm-6">
		<h4>Approved Service Accounts</h4>
		<ul>
			<li ng-repeat="account in serviceAccountsVm.approvedAccounts">
				<span>{{account.id}} - {{account.description}} - {{account.assigned}}</span>
				<ul>
					<li ng-repeat="subservice in account.subservices">
						<span>{{subservice.description}} - {{subservice.assigned}}</span>
					</li>
				</ul>				
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<h4>Incomplete Service Accounts</h4>
		<ul>
			<li ng-repeat="account in serviceAccountsVm.accounts">
				<span>{{account.id}} - {{account.description}} - {{account.assigned}}</span>
				<ul>
					<li ng-repeat="subservice in account.subservices">
						<span>{{subservice.description}} - {{subservice.assigned}}</span>
					</li>
				</ul>						
			</li>
		</ul>
	</div>
</div>