<div class="row">
	<div class="col-sm-12">
		<h5><i>services.html</i></h5>
	</div>	
</div>
<div class="row">
	<div class="col-sm-6">
		<h4>Approved Services</h4>
		<ul>
			<li ng-repeat="block in servicesVm.approvedServices">
				<span>{{block.description}}</span>
				<ul>
					<li ng-repeat="service in block.services">
						<span>{{service.description}}</span>
						<ul>
							<li ng-repeat="attribute in service.attributes">
								<span>{{attribute.description}}</span>
							</li>
						</ul>						
					</li>
				</ul>				
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<h4>Incomplete Services</h4>
		<ul>
			<li ng-repeat="block in servicesVm.services">
				<span>{{block.description}}</span>
				<ul>
					<li ng-repeat="service in block.services">
						<span>{{service.description}}</span>
						<ul>
							<li ng-repeat="attribute in service.attributes">
								<span>{{attribute.description}}</span>
							</li>
						</ul>						
					</li>
				</ul>					
			</li>
		</ul>
	</div>
</div>
