<div class="row">
	<div class="col-sm-6">
		<h5><i>serviceaccounts-services.html</i></h5>
		<div class="row"> 
			<div class="col-sm-3">
				<h4>Approved Services</h4>
				<ul>
					<li ng-repeat="block in serviceAccountsServicesVm.approvedServices">
						<span>{{block.description}}</span>
						<ul>
							<li ng-repeat="service in block.services">
								<a ui-sref-active="active" ui-sref="contracts.detail.serviceaccounts.accounts({serviceId: service.id})">{{service.description}} - {{service.allowsAccounts}} - {{service.hasSubservices}}</a>
							</li>
						</ul>				
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4>Incomplete Services</h4>
				<ul>
					<li ng-repeat="block in serviceAccountsServicesVm.services">
						<span>{{block.description}}</span>
						<ul>
							<li ng-repeat="service in block.services">
								<a ui-sref-active="active" ui-sref="contracts.detail.serviceaccounts.accounts({serviceId: service.id})">{{service.description}} - {{service.allowsAccounts}} - {{service.hasSubservices}}</a>
							</li>
						</ul>					
					</li>
				</ul>
			</div>
		</div>		
	</div>	
	<div class="col-sm-6">
		<h5><i>UI route contracts.detail.serviceaccounts.* view injection</i></h5>
		<div ui-view></div>
	</div>		
</div>
